
<div class="jumbotron">
    <h1>NTVS Node.JS</h1>
    <p class="lead">MEAN is a full JavaScript stack that enables you build fast, robust and maintainble production web applications using MongoDB, Express, AngularJS, and Node.js.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            MEAN.JS is a full-stack JavaScript solution that helps you build fast, robust and maintainble production web applications using MongoDB, Express, AngularJS, and Node.js</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>npm is the official package manager for Node.js. As of Node.js version 0.6.3, npm is bundled and installed automatically with the environment. npm runs through the command line and manages dependencies for an application. It also allows users to install Node.js applications that are available on the npm registry.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hosting</h2>
        <p>Microsoft Azure is an open and flexible cloud platform that enables you to quickly build, deploy and manage applications across a global network of datacenters.</p>
        <p><a class="btn btn-default" href="http://azure.com">Learn more &raquo;</a></p>
    </div>
</div>